extends layout

block content
  div(class='container') 
    h1= title
    p Welcome to #{title}
    img(src='/img/test_001.jpg')
    img(src='/img/test_002.jpg')
    img(src='/img/test_001.jpg')
    img(src='/img/test_002.jpg')
    p Consept by Onnia