extends layout

block content
  div(class='container') 
    h1= title
    p Application for generating images to be viewed at your local webserver
        div(class='images-container')
  div(id='footer')  
    p Consept by Onnia