doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(http-equiv='refresh', content='8') 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', intial-scale='1.0')
    script(src='/js/vendor/jquery.js')
    script(src='/js/main.js')
    
  body
    block content